<!-- <alumno></alumno> -->
<!-- <hr> -->
<h1></h1>
<!-- <curso></curso> -->
<!-- <img src="../assets/face.png" alt=""> -->
<nav>
    <a [routerLink]="['/inicio']" [routerLinkActive] = "['activo']">Inicio</a>
    &nbsp;
    <a [routerLink]="['/alumno']" [routerLinkActive] = "['activo']">Alumnos</a>
    &nbsp;
    <a [routerLink]="['/curso']" [routerLinkActive] = "['activo']">Cursos</a>
    &nbsp;
    <a [routerLink]="['/user']" [routerLinkActive] = "['activo']">Usuario</a>
</nav>
<router-outlet></router-outlet>
