.disponible{
    background: greenyellow;
}
.noDisponible{
    background: red;
    text-decoration: underline;
}
.activo{
    text-decoration: none;
    font-weight: 700;
}
.colUsuarios{
    color: aliceblue;
    background-color: silver;
}
.colFotos{
    background-color: slategray;
}